<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pop.demo"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MultiRoundImageAct" android:screenOrientation="portrait"/>
        <activity android:name=".activity.BarrageAct" android:screenOrientation="portrait"/>
        <activity android:name=".activity.BezierCurveAct" android:screenOrientation="portrait"/>
        <activity android:name=".activity.TimeTickAct" android:screenOrientation="portrait"/>
        <activity android:name=".activity.EditTextAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
    </application>

</manifest>
